[submodule ".vim/bundle/vim-blockle"]
	path = .vim/bundle/vim-blockle
	url = https://github.com/dwaller/vim-blockle.git
[submodule ".vim/bundle/align"]
        path = .vim/bundle/align
        url = git@github.com:vim-scripts/Align.git
